@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Karla:ital,wght@0,200..800;1,200..800&family=Kumbh+Sans:wght@100..900&family=League+Spartan:wght@100..900&family=Lexend+Deca:wght@100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Young+Serif&display=swap");

:root {
  /*COLORES*/

  /*PRIMARIOS*/

  --Blue-200: hsl(193, 38%, 86%);
  --Green-300: hsl(150, 100%, 66%);

  /*NEUTRALES*/

  --Blue-600: hsl(217, 19%, 38%);
  --Blue-900: hsl(217, 19%, 24%);
  --Blue-950: hsl(218, 23%, 16%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--Blue-950);
  font-family: "Manrope", sans-serif;
  padding: 1rem;
  overflow: hidden;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .container {
    background-color: var(--Blue-900);
    width: 500px;
    padding: 2rem;
    border-radius: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .advice {
      color: var(--Green-300);
      text-transform: uppercase;
      letter-spacing: 0.2rem;
      margin-bottom: 2rem;
      font-size: 1rem;
    }
    .text__advice {
      color: rgb(148, 243, 136);
      font-size: 1.5rem;
      margin-bottom: 2rem;
      font-weight: 800;
    }
    .divider {
      width: 100%;
    }
    .social-links {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-top: 2rem;
      gap: 1rem;
      a {
        width: 45px;
        height: 45px;
        border: 1px solid var(--Blue-600);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--Blue-200);
        text-decoration: none;
        transition: all 0.3s ease;
        &:hover {
          background-color: var(--Blue-600);
          color: #fff;
        }
        span {
          font-size: 23px;
        }
      }
    }
    button {
      background-color: var(--Green-300);
      padding: 1rem;
      border-radius: 50%;
      border: none;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      position: relative;
      top: 3.8rem;
      &:active {
        transform: scale(0.9);
      }
      &:hover {
        box-shadow: 0 0 20px var(--Green-300);
      }
    }
  }
}

@media (min-width: 768px) {
  main {
    .container {
      width: 600px;
      .advice {
        font-size: 1.2rem;
      }
      .text__advice {
        font-size: 1.8rem;
        margin-bottom: 0.5rem;
      }
      .divider {
        margin-top: 2rem;
      }

      button {
        top: 3rem;
      }
    }
  }
}
